*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section1 {
    width: 50%;
    height: 300px;
    min-width: 350px;
    max-width: 350px;
    background-color: white;
    padding: 60px 0 10px 0;
    border: 1px solid #282f38;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
}

#section2 {
    width: 50%;
    height: 430px;
    min-width: 350px;
    max-width: 350px;
    background-color: #282f38;

}

#section3 {
    width: 50%;
    height: 100px;
    min-width: 350px;
    max-width: 350px;
    background-color: white;
    border: 1px solid #282f38;
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.image2 {
    margin-top: 20px;

}

.name {
    color: black;
    margin-top: 60px;
}

.underline {
    height: 2px;
    width: 75px;
    background-color: red;
}

.postion {
    margin-top: 5px;
}

.red-box {
    background-color: red;
    width: 100%;
    height: 50px;
    position: relative;
}

.image3 {
    position: absolute;
    top: -13px;
}

.image4 {
    position: absolute;
    top: 37px;
}

#section2 .container:nth-child(2) {
    margin-top: 30px;
}
#section2 p {
    z-index: 0;
    color: white;
    text-align: center;
    margin: 20px 0;
    min-width: 112px;
}

.data-field {
    z-index: 0;
    width: 250px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.address{   
    color: white;
    margin-left: 8px;
    width: 160px;
    min-width: 160px;
}
.email{
    font-size: 15px;
}

.services{
    padding: 10px 20px;
    font-size: 14px;
}

.button-save{
    width: 150px;
    height: 35px;
    background-color: red;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-save:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
@media (min-width: 200px) {}
